:root{
    --header_background:#CF2B2B;
    --main_background:#E5E5E5;
    --chart_container_color:#FFFFFF;
    --order_not_closed:#cbcbcb;
}

body{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    overflow: scroll;
}

.mainHeader{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 99px;
    justify-content:center;
    background:var(--header_background);
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25);
}

header h4, h1, .sectionTitle{
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 44px;
    line-height: 54.63px;
    color: #FFFFFF;
    margin-left: 21px;
}

header h1{
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21.09px;
}

main{
    background:var(--main_background);
    margin-top: 99px;
    padding-bottom:108px;
    z-index: 0;
}

.sectionTitle{
    font-size: 26px;
    line-height: 32.28px;
    letter-spacing: 1.8%;
    color: #333333;
    padding-top: 31px;
    padding-bottom: 17px;
}

.prato{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: scroll;
}

.prato .containerOne_00, .containerOne_01,
.containerOne_02, .containerOne_03{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 172px;
    min-width: 172px;
    height: 216px;
    background-color: var(--chart_container_color);
    border-radius: 9px;
    margin-left: 16px;
}

.imgPosition{
    display: flex;
    justify-content: center;
    width: 172px;
}

.container img{
    width: 144px;
    height: 87px;
    left: 14px;
    right: 14px;
}

.prato h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    padding: 8px 0px 4px 15px;
}

.prato h2{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin: 0px 11px 0px 14px;
}

.prato h3{
    width: 145px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    padding: 8px 0px 0px 15px;
}

.check{
    visibility: hidden;
    width: 19px;
    height: 19px;
}

.selected{
    box-shadow: 0px 4px 4px rgba(0 ,0 , 0, 0.25), inset 0px 0px 5px #32B72F;
}

.unhidden{
    visibility: visible;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

footer section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 364px;
    height: 61px;
    background-color: var(--order_not_closed);
    border-radius: 50px;
}

footer h4{
    width: 196px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height:23.44px;
    letter-spacing:1.8%;
    padding-left: 15px;
    color: #FFFFFF;
}