:root{
    --header_background:#CF2B2B;
}

body{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
}

.mainHeader{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 99px;
    justify-content:center;
    background:var(--header_background);
}

header h4, h1{
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 44px;
    line-height: 54.63px;
    color: #FFFFFF;
    margin-left: 21px;
}

header h1{
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21.09px;
}


